.heroBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    padding: 2rem 0;
  }
  
  .heroContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .heroText {
    flex: 1;
    padding-right: 2rem;
    max-width: 50%;
  }
  
  .hero__title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .hero__subtitle {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .buttons {
    margin-top: 2rem;
    line-height: 2.0;
  }
  
  .heroImage {
    flex: 1;
    max-width: 50%;
  }
  
  .heroImage img {
    width: 100%;
    height: auto;
  }
  