/* 项目部分的整体样式 */
.projectsSection {
  background-color: #FBFDFF;
  position: relative;
  padding: 2rem 0;
}

/* Dark 模式项目部分的整体样式 */
[data-theme='dark'] .projectsSection {
  background-color: #1e1e1e;
}

/* 标题部分样式 */
.sectionTitle {
  text-align: left;
  margin-bottom: 1.5rem;
}

/* Dark 模式标题部分样式 */
[data-theme='dark'] .sectionTitle h2 {
  color: #ffffff;
}

/* 标题文字样式 */
.sectionTitle h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* 卡片容器样式 */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 一行显示四个卡片 */
  gap: 1rem; /* 卡片之间的间距 */
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* 单个卡片样式 */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 300px; /* 固定卡片宽度 */
  height: 250px; /* 固定卡片高度 */
}

/* Dark 模式单个卡片样式 */
[data-theme='dark'] .card {
  background: #2e2e2e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* 卡片悬停效果 */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Dark 模式卡片悬停效果 */
[data-theme='dark'] .card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

/* 卡片图像样式 */
.cardImage {
  flex: 0 0 150px; /* 确保图像部分高度 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 隐藏溢出部分 */
}
.cardImage img {
  width: 300px;
  height: 160px;
  object-fit: cover; /* 确保图像填充整个区域并保持宽高比 */
}

/* Dark 模式卡片图像样式 */
[data-theme='dark'] .cardImage img {
  border-bottom: 1px solid #555;
}

/* 卡片内容样式 */
.cardBody {
  padding: 0.9rem;
  flex: 1; /* 确保内容部分占据剩余空间 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 卡片标题样式 */
.cardBody h3 {
  position: relative;
  font-size: 1.00rem;
  margin-bottom: 0.45rem;
  color: #255fae;
  font-weight: bold;
  transition: color 0.3s;
}

/* Dark 模式卡片标题样式 */
[data-theme='dark'] .cardBody h3 {
  color: #4fa8ff;
}

/* 卡片标题下划线效果 */
.cardBody h3::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #255fae;
  transition: width 0.5s;
}

/* Dark 模式卡片标题下划线效果 */
[data-theme='dark'] .cardBody h3::after {
  background-color: #4fa8ff;
}

/* 卡片标题悬停效果 */
.cardBody h3:hover::after {
  width: 100%;
}

/* 卡片描述样式 */
.cardBody p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #8b8da3;
  font-weight: 500;
}

/* Dark 模式卡片描述样式 */
[data-theme='dark'] .cardBody p {
  color: #cccccc;
}
