/* 项目部分的整体样式 */
.projectsSection {
  background-color: #FBFDFF;
  position: relative;
}

/* Dark 模式项目部分的整体样式 */
[data-theme='dark'] .projectsSection {
  background-color: #1e1e1e;
}

/* 标题部分样式 */
.sectionTitle {
  text-align: left;
  margin-bottom: 1.5rem;
}

/* Dark 模式标题部分样式 */
[data-theme='dark'] .sectionTitle h2 {
  color: #ffffff;
}

/* 标题文字样式 */
.sectionTitle h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* 卡片容器样式 */
.cardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* 隐藏溢出以创建滑动效果 */
}

/* 卡片包裹样式，控制滑动动画 */
.cardsWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; /* 平滑过渡效果 */
  width: 100%;
}

/* 单页卡片容器样式 */
.cardsPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 一行显示四个卡片 */
  grid-template-rows: repeat(2, 1fr); /* 两行 */
  gap: 1rem; /* 卡片之间的间距 */
  width: 100%;
  flex-shrink: 0; /* 防止缩小 */
  box-sizing: border-box;
  padding: 1rem;
}

/* 单个卡片样式 */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%; /* 确保卡片高度一致 */
}

/* Dark 模式单个卡片样式 */
[data-theme='dark'] .card {
  background: #2e2e2e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* 卡片悬停效果 */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Dark 模式卡片悬停效果 */
[data-theme='dark'] .card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

/* 卡片图像样式 */
.cardImage {
  flex: 1 0 auto; /* 确保图像部分占据剩余空间 */
}
.cardImage img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom: 1px solid #ddd;
}

/* Dark 模式卡片图像样式 */
[data-theme='dark'] .cardImage img {
  border-bottom: 1px solid #555;
}

/* 卡片内容样式 */
.cardBody {
  padding: 0.3rem;
  flex: 0 1 auto; /* 确保内容部分在图像下方 */
}

/* 卡片标题样式 */
.cardBody h3 {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #255fae;
  font-weight: bold;
  transition: color 0.3s;
}

/* Dark 模式卡片标题样式 */
[data-theme='dark'] .cardBody h3 {
  color: #4fa8ff;
}

/* 卡片标题下划线效果 */
.cardBody h3::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #255fae;
  transition: width 0.5s;
}

/* Dark 模式卡片标题下划线效果 */
[data-theme='dark'] .cardBody h3::after {
  background-color: #4fa8ff;
}

/* 卡片标题悬停效果 */
.cardBody h3:hover::after {
  width: 100%;
}

/* 卡片描述样式 */
.cardBody p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #8b8da3;
  font-weight: bold;
}

/* Dark 模式卡片描述样式 */
[data-theme='dark'] .cardBody p {
  color: #cccccc;
}

/* 分页圆点容器样式 */
.paginationDots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* 分页圆点样式 */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

/* Dark 模式分页圆点样式 */
[data-theme='dark'] .dot {
  background-color: #666;
}

/* 活动分页圆点样式 */
.activeDot {
  background-color: #717171;
}

/* Dark 模式活动分页圆点样式 */
[data-theme='dark'] .activeDot {
  background-color: #bbbbbb;
}
